<nav class="navbar navbar-inverse">
  <a class="navbar-brand" colspan="25">Sails</a>
</nav>
<div class="container" style="max-width:350px;">
  <h2>Exams</H2>
  <form action="/exam/create" method="POST" accept-charset="utf-8" class="form-signin">
    Name<input type="text" name="txtname" class="form-control" required>
    <br/>Note
    <input type="number" name="txtnote" class="form-control" required>
    <br/>Student id
    <input type="text" name="txtexam" class="form-control" required>
    <br/>
    <input type="submit" class="btn btn-success  btn-lg" />
  </form>
</div>
