<nav class="navbar navbar-inverse">
  <a class="navbar-brand" colspan="25">Sails</a>
</nav>
<div class="container" style="max-width:350px;">
  <h2>Note's change</H2>
  <form action="/exam/change" method="POST" accept-charset="utf-8" class="form-signin">
    Name
    <input type="text" name="txtstudent" class="form-control" required>
    <br/>
    Note 1
    <input type="text" name="txtnote" class="form-control" required>
    <br/>
    Note 2
    <input type="text" name="txtnote2" class="form-control" required>
    <br/>
    <input type="submit" class="btn btn-success  btn-lg" />
  </form>
</div>
